.recipe-card {
  background-color: #a3f77b;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 20px 0;
}

.recipe-card h5 {
  font-weight: bold;
}

.recipe-card p {
  margin: 10px 0;
}

.recipe-card button {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.create-recipe-btn {
  background-color: #a3f77b;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

.add-recipe-card {
  background-color: #f8f9fa;
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin: 20px 0;
  height: 80%; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-recipe-card i {
  font-size: 36px;
  color: #666;
}


/* From Uiverse.io by KINGFRESS */ 
button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease;
  }
  
  button:hover {
    color: white;  
  }
  
  
  button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: black;
    
    border-radius: 50%;
    transition: .6s ease;
  }
  
  button span:nth-child(6) {
    position: relative;
    
  }
  
  button span:nth-child(1) {
    transform: translate(-3.3em, -4em);
    
  }
  
  button span:nth-child(2) {
    transform: translate(-6em, 1.3em);
    
  }
  
  button span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
   
  }
  
  button span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
   
  }
  
  button span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
    
  }
  
  button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
    color: white;
    
  }
    